.table-container {
  overflow-x: auto;
}


@function fa-content($fa-var) {
  @return unquote("\"#{ $fa-var }\"");
}

$fa-var-sort-down: \f0dd;
$fa-var-sort: \f0dc;
$fa-var-sort-up: \f0de;
$fa-var-filter: \f0b0;
$fa-var-times: \f00d;

.col-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .col-label {
    //display: inline;
  }

  .col-ops {
    //margin-left: .3em;
    //display: inline;
    //text-align: right;
  }
}

.field-sortable {

  .sort-control {
    display: inline-block;
    cursor: pointer;
    // position: absolute;
  }
}

.field-filterable {

  .filter-control {
    display: inline-block;
    cursor: pointer;
    // position: absolute;
  }
}

.icon {
  font-size: 0.8em;
  color: #888;
  &.icon-sort {
    &:before {
      content: fa-content($fa-var-sort);
    }
  }

  &.icon-sort-asc {
    &:before {
      content: fa-content($fa-var-sort-up);
    }
  }

  &.icon-sort-desc {
    &:before {
      content: fa-content($fa-var-sort-down);
    }
  }

  &.icon-filter {
    &:before {
      content: fa-content($fa-var-filter);
    }
  }

  &.icon-close {
    &:before {
      content: fa-content($fa-var-times);
    }
  }

}

/**
 * Define infinite mode table scrolling
 */
.mode-infinite {
  .table-container {
     table {
       tbody {
         display: block;
         overflow: auto;
         width: 100%;
         height: 400px;
       }

       thead tr{
         display:block;
       }
     }
  }
}
